* {
    box-sizing: border-box;
}
body {
    margin:0;
    font-family: sans-serif;
    background-image: url("uleam.png");
    background-repeat: no-repeat;
    background-size: 200px;
}
.formulario {
    width: 500px;
    max-width: 100%;
    margin: auto;
    margin-top: 30px;
    padding: 20px;
    box-shadow: 0 0 20px 1px rgba(0,0,0,0.3);
    position: relative;
}
.formulario__titulo {
    text-align: center;
    margin-top: 0;
    color: rgba(0,0,0,0.7);
}
.formulario__input, .formulario__label,
.formulario__submit {
    display: block;
    width: 100%;
}
.formulario__input {
    padding: 20px;
    background: rgba(17, 192, 46, 0.3);
    border: 1px solid rgba(0,0,0,0.3);
    margin-bottom: 40px;
}
.formulario__input:focus {
    outline: 1px solid rgba(0,0,0,0.7);
}
.formulario__input:focus +
.formulario__label{
    margin-top: -135px;
}
.formulario__label {
    padding-left: 15px;
    position: absolute;
    margin-top: -85px;
    z-index: -20;
    color: rgba(17, 192, 46, 0.336);
    transition: all 0.2s;
}
.formulario__submit {
    background: rgba(206, 24, 24, 0.7);
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    border: none;
}
